<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="img/category-3.jpg" />
                    <a class="category-name" href="">
                        <p>Celebrate love and style together with our matching outfits for couples!</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="img/category-4.jpg" />
                    <a class="category-name" href="">
                        <p>Enhance your beauty with our vibrant makeup collection!</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="img/category-5.jpg" />
                    <a class="category-name" href="">
                        <p>Complete your look with our trendy accessories!</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="img/category-6.jpg" />
                    <a class="category-name" href="">
                        <p>Glow with our nourishing skincare and facial products!</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="img/category-7.jpg" />
                    <a class="category-name" href="">
                        <p>Stay stylish and connected with our cutting-edge gadgets</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="img/category-8.jpg" />
                    <a class="category-name" href="">
                        <p>Find your perfect dress for any occasion in our stunning collection!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
