body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Adjust padding */
    max-width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 15px; /* Adjust margin */
    color: #333;
}

canvas {
    margin-top: 15px; 
    max-height: 600px; 
    height: 100%; 
    width: 100%; 
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
        padding-left: 52px;
        padding-right: 52px;
    }
}

.nav .navbar {
    height: 100%;
    padding: 0;
}

.nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #ff5344;
}

.nav .dropdown-menu a.active {
    color: #353535;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .nav,
    .nav .navbar {
        background: #ff5343 !important;
    }
    
    .nav .navbar-brand {
        display: none;
    }
    
    .nav .navbar-dark a.nav-link {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .nav .navbar-dark a.nav-link:hover,
    .nav .navbar-dark a.nav-link.active {
        color: #000000;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    
    .nav,
    .nav .navbar {
        background: #000000 !important;
    }
    
    .nav a.nav-link {
        padding: 5px 0;
    }
    
    .nav .dropdown-menu {
        box-shadow: none;
    }
}

/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #FF6F61;
}

a {
    color: #FF6F61;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}


/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top {
    position: fixed;
    display: none;
    background: #FF6F61;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}

